@model List<MarbleBlockVM>
@{
    ViewData["Title"] = "DetailMarbleBlock";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}



<form method="get>
<div class="card">
    <div class="card-header">
        <h4>Marble Block Details</h4>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Width</th>
                    <th scope="col">Height</th>
                    <th scope="col">Thickness</th>
                    <th scope="col">Purchase Date</th>
                    <th scope="col">Block Code </th>
                    <th scope="col">Warehouse Section</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MarbleBlockId</td>
                        <td>@item.Width</td>
                        <td>@item.Height</td>
                        <td>@item.Thickness</td>
                        <td>@item.PurchaseDate</td>
                        <td>@item.BlockCode</td>
                        <td>@item.WarehouseSection</td>

                    </tr>

                }
            </tbody>
        </table>
    </div>

</div>
</form>






