@model List<CurrentCardVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4>Current Card</h4>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Current Title</th>
                    <th scope="col">Curent Owner</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Details</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CurrentCardId</td>
                        <td>@item.CurrentTitle</td>
                        <td>@item.CurrentOwner</td>
                        <td>@item.PhoneNumber</td>
                        <td>
                            <a href="@Url.Action("DetailCurrentCard", "CurrentCard", new { id = item.CurrentCardId })" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a>
                        </td>

                        @* <td><a href="/MarbleBlock/DetailMarbleBlock/@item.MarbleBlockId" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a></td>*@
                        <td>
                            <a href="/CurrentCard/DeleteCurrentCard/@item.CurrentCardId" class="btn  mb-1 btn-rounded btn-outline-danger">Sil</a>
                            <a href="/CurrentCard/UpdateCurrentCard/@item.CurrentCardId" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
        <div>
            <a href="/CurrentCard/AddCurrentCard/" class="btn mb-1 btn-rounded btn-outline-danger">Add Current Card</a>
        </div>

    </div>

</div>







